@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.352);
    color: whitesmoke;
    padding: 10px;
    position: fixed;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.contactBtn {
    padding: 3px 8px;
    border-radius: 30px;
    background-color: #fc036b;
} 
/* .active {
    text-decoration: underline;
    font-weight: bold;
    color: #fc036b;
} */

/* Banner Styling */

header {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/Banner.jpeg);
    background-size: 100% 100%;
}

.content {
    color: whitesmoke;
    padding: 20px;
    text-align:center;
}

.line {
    width: 150px;
    height: 5px;
    background-color: #fc036b;
    border-radius: 5px;
    margin: 5px auto;
}

.bannerBtn {
    font-size: 18px;
    color:whitesmoke;
    padding: 8px 15px;
    border-radius: 30px;
    border-style: none;
    background-color: #fc036b;
}

.smallbtn{
    font-size: 14px;
    padding: 8px 15px;
    margin: 15px 0;
}

.bannerTitle {
    font-size: 50px;
}

.upcoming-event{
    height: 70vh;
    width: 100vw;
}

.card-mainbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.upcoming-card{
    width: 40%;
}

.upcoming-card img{
    width: 100%;
}
.upcoming-card h3{
    text-align: center;
    margin: 10px 0;
    color: #152632;
    font-size: 22px;
}
.upcoming-card p{
    text-align: center;
    color: #152632;
}

.heading{
    text-align: center;
    margin-top: 20px;
    color: #152632;
    font-size: 28px;
}
.btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:770px){
    .card-mainbox{
        flex-direction: column;
        width: 90%;
    }
    .upcoming-card{
        width: 90%;
        height: 80%;
    }
}
